* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    background-color: rgb(214, 214, 214);
}
p {
    position: absolute;
    top: 0;
    left: 45%;
    font-size: 15px;
    z-index:5;
    color: rgb(211, 157, 56);
}

canvas[resize] {
    width: 100%;
    height: 100%;
}